#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* LoginForm.css */

/* Background image for the login container */
.login-form {
  background-image: url('../pics/login-bg.png'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styling */
.login-form form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.card1{
  /* position: relative; */
  left: 0px;
  right: 1%;
  background-color: #ffffff;
  height: 450px;
}

.left-card1{
  position: absolute;
  background-color: #F4DFBE;
  width: 200px;
  height: 90%;
  border-radius: 0px 25px  25px 0px;
  font-size: 13px;
}

.p-div{
  margin-top: 15px;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0 0 0.75rem 0;
}

.error-down {
  color: green;
  font-size: 12px;
  margin: 0 0 0.75rem 0;
}


/*  ********************ADD RECIPIE ************************************/
